@import "bootstrap";
@import "navbar";
@import "projects";

html {
  font-size: 12px;
}

body {
  color: #283c46;
  background-color: #f5efe6;
  line-height: 1.5;
  margin-top: 0;
  font-size: 1.7rem;
}
